<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Add Product</title>


  <!-- Import Template Icons CSS Files -->
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

  <!-- Import Perfect ScrollBar CSS Files -->
  <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">

  <!-- Import Bootstrap CSS File -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

  <!-- Import Template's CSS Files -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <link rel="stylesheet" href="assets/css/index-01.css">
</head>
<body>
    <div class="content-wrapper container-fluid">
      <aside class="left-panel">
        <nav class="navbar">
          <ul class="navbar-nav">

            <li class="nav-item dropdown active">
              <a class="nav-link" href="admin.html">
                 <i class="fa fa-tachometer"></i><span class="menu-title">Dashboard</span>
              </a>
            </li>

            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="add-product.html" role="button">
                <i class="fa fa-plus"></i> <span class="menu-title">Add Product</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="add-order.html" role="button">
                <i class="fa fa-list"></i> <span class="menu-title">All Orders</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="monthly-sell-product.html" role="button">
                <i class="fa fa-calendar"></i> <span class="menu-title">Monthly Sell Product</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" href="index.html" role="button">
                <i class="fa fa-power-off"></i> <span class="menu-title">Logout</span>
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    <div class="dashboard-contents">
      <div class="contents-inner">
        <div class="row">
          <div class="col-12">
            <div class="section-content">
              <div class="content-head">
                <h4 class="content-title">Add Products </h4><!-- /.content-title -->
              </div><!-- /.content-head -->

              <div class="content-details show">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Product Name</label>
                      <div class="input-group">
                        <input class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Price</label>
                      <div class="input-group">
                        <input class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Auction Id</label>
                      <div class="input-group">
                        <input class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Auction Credit</label>
                      <div class="input-group">
                        <input class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Bid Amount</label>
                      <div class="input-group">
                        <input class="form-control" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Add Picture</label>
                      <div class="input-group">
                        <input class="form-control" type="file">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group profile-form">
                      <label class="form-control-label">Add Description</label>
                      <div class="input-group">
                        <textarea name="" id="" cols="30" rows="10" class="details"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="submit-button">
                      <button class="submit-btn">Submit</button>
                    </div>
                  </div>
                </div>
              </div><!-- /.content-details -->
            </div>
          </div>

        </div>
      </div><!-- /.contents-inner -->

    <footer class="site-footer">
        <div class="copyright">
          <div class="float-left">
            Copyright © 2019 <a href="#" target="_blank"></a>
          </div>

          <div class="float-right">
            Developed with Love by <a href="#" rel="nofollow"></a>
          </div>
        </div><!-- /.copyright -->
      </footer><!-- /.site-footer -->
    </div><!-- /.dashboard-contents -->
  </div>


  <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/tables/jquery.dataTables.min.js"></script>
  <script src="assets/js/tables/dataTables.bootstrap4.min.js"></script>

  <script src="assets/js/main.js"></script>

  <script>
    $(document).ready(function() {
      "use strict";

      $('.data-table').DataTable();
    });
  </script>


</body>

<!-- Mirrored from demos.jeweltheme.com/hi5dash/demo/tables/data.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Jan 2019 19:01:56 GMT -->
</html>
